<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{master.html}">
<head>
  <meta charset="utf-8">
  <title>Home</title>

</head>
<body >
<div layout:fragment="content">
  <div class="bg-light p-5 rounded">
    <h1 class="display-1 text-success">Movie Trailer</h1>
    <h2> Welcome to Movie Trailer</h2>
  </div>

  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5" >
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5" th:each="movie :${lastmovie}" th:object="${movie}">
          <div class="card h-100" >
            <!-- Product image-->
            <a th:href="@{/movie/{id}(id=*{id})}"  class="card shadow-lg" style="text-decoration:none;">
              <div class="badge bg-danger  text-white position-absolute" style="top: 0.5rem; right: 0.5rem">มาใหม่</div>
              <img class="card-img-top"  th:src="@{/assets/{filename}(filename=*{coveredroute})}" th:alt="*{feature}"  alt="..." />
            </a>
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h2 class="card-title fs-6" th:text="*{feature}"></h2>
                <p th:text="*{#temporals.format(premieredate,'dd/MM/yyyy')}" class="text-muted small"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
</html>